<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Incubadora neonatal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <p>
    Monitoração dos parametros da incubadora.
  </p>  

  <P style="text-align: center;">
    <button ion-button color="secondary" outline icon-left (click)="goToTempPage()">
      <ion-icon name='rainy' color="blue"></ion-icon>
      Temperatura
    </button>
  </P>

  <P style="text-align: center;">
      <button ion-button color="primary" outline icon-left (click)="goToLumPage()">
        <ion-icon name='rainy' color="blue"></ion-icon>
        Luminosidade
      </button>
    </P>

    <div *ngIf="!isLoading">
        <ion-card>
          <ion-card-content style="text-align: center; font-size: 5rem;">
            {{dweet._with[0].content.touch == true ? "Touch Ativado" : "Touch desativado"}} 
          </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!isLoading">
        <ion-card>
          <ion-card-content style="text-align: center; font-size: 5rem;">
            {{dweet._with[0].content.status}} 
          </ion-card-content>
        </ion-card>
    </div>

    <P style="text-align: center;">
        <button ion-button color="secondary" outline icon-left (click)="ativaAlarme()">
          <ion-icon name='rainy' color="blue"></ion-icon>
          Ativar Alarme
        </button>
      </P>

      <P style="text-align: center;">
          <button ion-button color="secondary" outline icon-left (click)="desativaAlarme()">
            <ion-icon name='rainy' color="blue"></ion-icon>
            Desativar Alarme
          </button>
        </P>

 
</ion-content>
